<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>
<body>
	
	<div class="container">
	
	<img  src=" " class="profile" th:src="@{/image/sample.png}" alt="this is an image" />  
	
	<h1> Adding CSS, Javascript Image in Thymeleaf</h1>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequuntur tempora assumenda animi quod numquam commodi modi repellat odit unde! Veritatis itaque doloribus ipsa architecto ea veniam maiores velit quam.
	</p>
	
	</div>
	
	<script src=" " th:src="@{/js/myjs.js}"> </script>
	
</body>
</html>